blessed==1.15.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-PyMongo==2.2.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
keyring==8.7
keyrings.alt==1.3
lxml==4.3.0
MarkupSafe==1.1.0
measurement==2.0.1
mpmath==1.1.0
myfitnesspal==1.13.3
pymongo==3.7.2
python-crontab==2.3.6
python-dateutil==2.7.5
requests==2.21.0
six==1.12.0
sympy==1.3
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1
configparser==3.7.3
Flask-Cors==3.0.7
